* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Signika Negative', sans-serif;
}

nav {
   line-height: 40px;
   width: 100%;
   top: 0;
   background-color: #ede1fadd;
   padding: 10px;
   text-align: center;
   font-family: 'Macondo', cursive;
   color: #6e386a;
   position: fixed;
}

section {
   width: 85%;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
}

section h3 {
   margin: 20px 0 10px 0;
}

.katalog {
   display: flex;
   flex-wrap: wrap;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 250px;
   border-radius: 5px;
   margin: 15px;
   flex-direction: row;
   position: relative;
   z-index: -10;
}

.card img {
   width: 100%;
   position: relative;
}

.card-info {
   padding: 10px;
   line-height: 19px;
   display: flex;
   flex-direction: column;
}

.card:hover {
   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}

.card-info a {
   align-self: flex-end;
   width: 40%;
   height: 30px;
   line-height: 30px;
   text-align: center;
   text-decoration: none;
   color: #6e386a;
   margin-top: 10px;
   background-color: #ede1fadd;
   border: 1px solid #6e386a;
   border-radius: 5px;
}

.card-info a:hover {
   background-color: #6e386a;
   color: #fff;
}

.card-info span {
   text-decoration: line-through;
   opacity: 0.5;
}

.discount {
   background-color: #ff2020;
   text-align: center;
   line-height: 40px;
   width: 40px;
   height: 40px;
   color: white;
   border-radius: 50%;
   position: absolute;
   display: inline-block;
   right: -10px;
   top: -10px;
   font-size: small;
}

hr {
   margin: 8px auto;
   color: #6e386a;
   width: 30%;
}

footer {
   margin-top: 95px;
   background-color:#6e386a;
   padding: 10px 40px;
   color: white;
   text-align: center;
}